openapi: 3.1.0
info:
  title: Mubert API
  description: |
    Mubert public API for generating royalty-free AI-composed music tracks and
    obtaining real-time streaming links. Authentication uses customer-id and
    access-token request headers issued by Mubert.
  version: "3.0"
  contact:
    name: Mubert
    url: https://mubert.com/
  license:
    name: Proprietary
    url: https://mubert.com/legal/terms-of-use
servers:
  - url: https://music-api.mubert.com/api/v3/public
    description: Mubert public API
security:
  - customerId: []
    accessToken: []
paths:
  /tracks:
    post:
      operationId: generateTrack
      summary: Generate a music track
      description: Creates a unique generative music track with customizable parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackRequest'
      responses:
        '200':
          description: Track generation result
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
  /streaming/get-link:
    get:
      operationId: getStreamingLink
      summary: Get streaming link
      description: Retrieves a streaming URL for real-time generative music.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamingRequest'
      responses:
        '200':
          description: Streaming link
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
components:
  securitySchemes:
    customerId:
      type: apiKey
      in: header
      name: customer-id
      description: Mubert customer identifier.
    accessToken:
      type: apiKey
      in: header
      name: access-token
      description: Mubert access token.
  schemas:
    TrackRequest:
      type: object
      properties:
        playlist_index:
          type: string
          description: Playlist (mood/genre) selector, e.g. "1.0.0".
        duration:
          type: integer
          description: Track duration in seconds (15 to 1500).
          minimum: 15
          maximum: 1500
        bitrate:
          type: integer
          enum: [128, 320]
        format:
          type: string
          enum: [wav, mp3]
        intensity:
          type: string
          enum: [low, medium, high]
        mode:
          type: string
          enum: [track, loop]
    StreamingRequest:
      type: object
      properties:
        playlist_index:
          type: string
        bitrate:
          type: integer
          enum: [128, 320]
        intensity:
          type: string
          enum: [low, medium, high]
        type:
          type: string
          enum: [http, hls]
